* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	max-width: 100%;
	max-height: 100vh;
	font-family: "Kumbh Sans", sans-serif;
}

main {
	position: relative;
	width: 100%;
	height: 100vh;
	background: hsl(185, 75%, 39%);
	margin: 5vh auto;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.circle1 {
	position: absolute;
	width: 950px;
	height: 950px;
	left: -18%;
	top: -58%;
	border-radius: 50%;
	background-image: url(/profile-card-component-main/images/bg-pattern-top.svg);
}

.circle2 {
	position: absolute;
	width: 970px;
	height: 970px;
	bottom: -74%;
	right: -16%;
	border-radius: 50%;
	background-image: url(/profile-card-component-main/images/bg-pattern-bottom.svg);
}

.card {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 330px;
	height: 45vh;
	border-radius: 13px;
	background-color: white;
	box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
}

.blueballs {
	width: 100%;
	height: 35%;
	background-image: url(/profile-card-component-main/images/bg-pattern-card.svg);
	border-top-left-radius: 13px;
	border-top-right-radius: 13px;
}

.victor {
	position: relative;
	width: 100%;
	height: 40%;
	text-align: center;
}
.victor-text {
	width: 100%;
	height: 100%;
	padding: 70px;
}
.victor-text span {
	font-weight: 400;
}
span,
p {
	color: hsl(227, 10%, 46%);
	font-size: 13px;
	padding: 3px;
}

.likes {
	width: 100%;
	height: 25%;
	border-bottom-left-radius: 13px;
	border-bottom-right-radius: 13px;
	border-top: 1px solid hsl(225, 4%, 80%);
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.likes div {
	text-align: center;
}

.avatar {
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	top: 20%;
	background-color: white;
}
.avatar img {
	position: absolute;
	width: 90%;
	height: 90%;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
